html {
    font-size: 14px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    font-size: 2rem;
    line-height: 0.2rem;
}

.list-container {
    width: 100%;
    height: auto;
    margin: 10% 0 20% 0%;
}

.list-container li a, a {
    list-style: none;
    text-decoration: underline blue;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: black;
}

.list-container a:hover {
    text-decoration: underline red;
}

.title {
    color: black;
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-top: 6%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
    .list-container li, a { font-size: 2rem; line-height: 1.8rem; list-style: none; text-decoration: underline blue; }
    .list-container a:hover { text-decoration: underline red; }
    .header { font-size: 1rem; }
    .title { font-size: 2rem; line-height: 1.8rem; }
}

img {
    margin-bottom: 2%;
    margin-top: 2%;
}

.back-btn {
    margin-left: 4%;
    color: black;
    text-decoration: none;
}

.back-btn:hover {
    color: red;
    text-decoration: none;
}

